name: "TP AQDL"

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  docker:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{secrets.DOCKER_PASSWORD}}

    - name: "Build and push the Docker image"
      uses: docker/build-push-action@v4
      with:
        push: true
        tags: annabonte/tp_aqdl:latest
  
  # linter:

  #   runs-on: ubuntu-latest

  #   steps:
  #     - uses: actions/checkout@v2

  #     - name: Lint Dockerfile
  #       uses: hadolint/hadolint-action@master
