name: "Docker Image CI"

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: "Docker Login"
      run: docker login -u ${{secrets.DOCKER_USER}} -p ${{secrets.DOCKER_PASSWORD}}
    - name: "Build the Docker image"
      run: cd /home/runner/work/TP_AQDL |
        docker build . -f Dockerfile.dev -t tp_aqdl:latest ${{secrets.DOCKER_USER}}/tp_aqdl:latest
    - name: "Push"
      run: docker push ${{secrets.DOCKER_USER}}/tp_aqdl:latest 
