name: "Docker Image CI"

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: "Docker Login"
      run: docker login -u ${{secrets.DOCKER_USER}} -p ${{secrets.DOCKER_PASSWORD}}
    - name: "Build the Docker image"
      run: docker build /home/runner/work/TP_AQDL -f Dockerfile -t tp_aqdl:test
    - name: "Push"
      run: docker run ${{secrets.DOCKER_USER}}/tp_aqdl:test 
